<%- include('../partials/header') %>
  <h2><%=post.namePost%></h2>

  <h2>Add Tag </h2>
  <form method="POST">
    <label>Tag</label>
    <br>
    <select name="TagId">
      <%
        tag.forEach((el,i) => 
        {
            %><option value="<%= i+1 %>"><%= el.nameTag %></option><%
        })
      %>
    </select>
    <br>
    <br>
    <input type="submit" value="Save" >
    <a href="/movies"> Cancel </a>
  </form>

  <h1>List Tag</h1>
  <table border="1">
    <tr>
      <th>Name</th>
    </tr>
    <%let tagCount =0%>
   <%for (let i = 0; i < tagpost.length;i++){%>
      <%for(let j = 0; j < tag.length; j ++){%>
        <%if(tagpost[i].TagId == tag[j].id){%>
          <% tagCount++%>
          <tr>
            <td><%=tag[j].nameTag%></td>
          </tr>
        <%}%>
      <%}%>
   <%}%>
  </table>
  <br>
  <br>
  <label>Tag Counts</label>
    <br>
    <p><%= tagCount%></p>
    <br>
</body>
</html>