<%- include('../partials/header') %>
  <h1 style="text-align: center; color: black; font-size: 50px;">Posts</h1>
  <button style="margin-left: 100px; margin-top: -20px;" type="button" class="btn btn-primary"><a style="text-decoration: none; color: white;" href="/users/<%= user.id%>/posts/add">add posts</a></button><a>

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">image</th>
          <th scope="col">Name</th>
          <th scope="col">Rating</th>
          <th scope="col">Content</th>
          <th scope="col">User</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
    <% data.forEach(el =>{%>
      <tr>
        <td><img style="width: 300px; height: 50vh;" src="<%= el.imgURL%>"></td>
        <td><%= el.namePost%></td>
        <%
          if(el.rating == null){ 
        %><td>Unrated</td><%
          }else{
          %><td><%= Helpers.rateToStar(el.rating)%></td><%
          }
        %>
        <td><%= el.content%></td>
        <td><%= el.User.username%></td>
        <%
          if(el.User.id != user.id){
            %><td><a href="/users/<%= user.id%>/posts/<%=el.id%>/rate">Rate</a></td> <%
          }else{
            %><td><a href="/users/<%= user.id%>/posts/<%=el.id%>/edit">Edit</a> || <a href="/users/<%= user.id%>/posts/<%=el.id%>/delete" onclick="return confirm('Yakin mau di delete?🥺😢🤣')">Delete</a> || <a href="/users/<%= user.id%>/posts/<%=el.id%>/addTag">Add Tag</a></td> <%
          }
        %>
      </tr>
    <% })%>
  </table>
</body>
</html>